@import "~antd/dist/antd.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #33ffaa;
    --secondary-color: #008f53;
}

body {
    position: fixed;
    background-color: black;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Inter, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

h1, h2, h3, h4 {
    color: white;
}

* {
    box-sizing: border-box;
}

.ant-btn-primary, .ant-btn-primary:hover {
    color: black;
    text-shadow: none;
    font-weight: 500;
}
.ant-btn-primary {
    height: 40px;
    line-height: 1;
    font-size: 18px !important;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}
.ant-btn-primary:hover {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}